.jumbotron
  %h1 Send messages to your friend safely
  %h4 Try our service for secure delivery of your messages.
  .actions
    = link 'Read', '/messages/read', class: 'btn btn-info read'
    = link 'Send', '/messages/new', class: 'btn btn-info send'
